* {
  padding: 0;
  margin: 0;
}
.Header__first {
  width: 26rem;
  height: 23rem;
  padding-top: 1.5rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.85)),
    url(img/header__backgrand--m.svg);
  border-radius: 0.5rem 0.5rem 0 0;
}
.Header__nav-first {
  display: flex;
  margin: 0 auto;
  width: 377px;
  height: 69px;
  border-radius: 0.6rem;
  background-color: #ffffff;
}
.Header__nav-first--hamber {
  display: flex;
  padding: 0.7rem 0.7rem;
  margin: 0.8rem 0.8rem;
  border-radius: 0.2rem;
  background-color: #efefef;
}
.Header__nav-first--logo {
  margin-top: 1rem;
}
.Header__nav-first--shop {
  padding: 0.65rem 0.75rem;
  margin: 0.8rem 0.8rem;
  margin-right: 6rem;
  border-radius: 0.2rem;
  background-color: #efefef;
}
.Header__nav-first--accent {
  padding: 0.7rem 0.7rem;
  margin: 0.8rem 0;
  border-radius: 0.2rem;
  background-color: #ed4545;
}
.Header__nav-first--accent1 {
  display: none;
}
.Header__nav-first--search {
  display: none;
}
.Header__nav-m {
  display: flex;
  margin: 0 auto;
  width: 22rem;
  height: 2.8rem;
  border-radius: 0 0 0.3rem 0.3rem;
  background-color: #efefef;
}
.Header__nav-m--text {
  border: none;
  outline: none;
  margin-right: 0.2rem;
  padding: 0.9rem 1rem;
  background-color: #efefef;
  width: 19rem;
}
.Header__nav-m--img {
  margin: 0.9rem 0.8rem;
}
.Header__nav-d {
  display: none;
}
.Header__secend--1 {
  font-weight: 900;
  font-size: 2rem;
  padding-top: 2.9rem;
  text-align: center;
  color: #ffffff;
}
.Header__secend--2 {
  position: relative;
  color: #ed4545;
}
.Header__secend--2::after {
  content: "";
  position: absolute;
  right: 0.001%;
  left: 3rem;
  bottom: -12px;
  width: 4rem;
  height: 20px;
  background: url("img/header__kind--m.svg") no-repeat center;
  background-size: 100% 100%;
}
.Header__secand--3 {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  padding-top: 1.5rem;
  margin-bottom: 2rem;
}
.swiper {
  background-color: black;
  width: 100%;
  height: 3.5rem;
  position: absolute;
  bottom: 0;
  overflow: hidden;
}
.swiper-wrapper {
  transition-timing-function: linear !important;
  display: flex;
  align-items: center;
}
.header__swiper
.swiper-slide {
  flex-shrink: 0;
  width: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
.header__swiper
.swiper-slide p {
  text-align: center;
  font-size: 0.8rem;
  color: #ffffff;
  white-space: nowrap;
  margin: 0;
  padding-top: 0.3rem;
  margin-top: 0.9rem;
}
.header__swiper
.swiper-slide img {
  width: 24px;
  height: 4rem;
  object-fit: contain;
  margin-right: 3rem;
}
@media (min-width: 26rem) {
  .Header__first {
    width: 1440px;
    padding-top: 1.5rem;
    height: 30rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
      url(img/header__backgrand--d.svg);
    border-radius: 0.5rem 0.5rem 0 0;
  }
  .Header__nav-first {
    display: flex;
    margin: 0 auto;
    width: 82rem;
    height: 6rem;
    background: #ffffff;
    border-radius: 0.5rem;
  }
  .Header__nav-first--hamber {
    display: none;
  }
  .Header__nav-first--logo {
    transform: scale(1.2);
    margin: auto 2.7rem;
  }
  .Header__nav-first--search {
    display: flex;
    margin: auto 1rem;
    width: 25rem;
    height: 3.2rem;
    border-radius: 0.3rem;
    background-color: #efefef;
  }
  .Header__nav-first--search1 {
    border: none;
    outline: none;
    margin-right: 0.2rem;
    padding: 0 1rem;
    width: 22rem;
    background-color: #efefef;
  }
  .Header__nav-first--search2 {
    margin: 0.8rem 0;
  }
  .Header__nav-first--shop {
    transform: scale(1.2);
    margin: auto 0;
    margin-right: 27rem;
  }
  .Header__nav-first--accent {
    display: flex;
    padding: 0.9rem 0.8rem;
    margin: auto 0;
    margin-right: 1.5rem;
    text-decoration: none;
    border-radius: 0.3rem;
    background-color: #ed4545;
  }
  .Header__nav-first--accent1 {
    display: inline;
    padding-right: 0.5rem;
    padding-top: 0.2rem;
    color: #ffffff;
  }
  .Header__nav-m {
    display: none;
  }
  .Header__nav-d {
    display: flex;
    height: 3.5rem;
    margin-right: 7rem;
    margin-left: 7rem;
    background: #efefef;
    border-radius: 0 0 0.4rem 0.4rem;
  }
  .Header__nav-d--1 {
    position: relative;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.4rem;
    padding-right: 1rem;
    margin: auto 3rem;
    color: #ed4545;
  }
  .Header__nav-d--1::before {
    position: absolute;
    content: "";
    right: 0;
    top: 30%;
    bottom: 70%;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 1rem;
    background-color: #ed4545;
  }
  .Header__nav--d12 {
    display: flex;
    text-decoration: none;
    margin-left: 3rem;
  }
  .Header__nav--d123 {
    display: flex;
    font-weight: 500;
    margin: auto 0;
    font-size: 0.9rem;
    line-height: 1.4rem;
    color: #333333;
  }
  .Header__nav--d124 {
    display: flex;
    margin-top: 1.7rem;
    margin-bottom: 1.2rem;
    margin-right: 0.4rem;
  }
  .Header__nav--d13 {
    display: flex;
    text-decoration: none;
    margin-left: 3rem;
  }
  .Header__nav--d131 {
    display: flex;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 1.4rem;
    margin: auto 0;
    color: #333333;
  }
  .Header__nav--d132 {
    display: flex;
    margin-top: 1.7rem;
    margin-bottom: 1.2rem;
    margin-right: 0.4rem;
  }
  .Header__nav--d14 {
    display: flex;
    margin: auto 0;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 1.4rem;
    color: #333333;
  }
  .Header__nav--d15 {
    display: flex;
    margin: auto 0;
    text-decoration: none;
    margin-right: 2rem;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 1.4rem;
    color: #333333;
  }
  .Header__nav--p {
    display: flex;
    height: 3.5rem;
    margin-right: 29rem;
  }
  .Header__nav--p1 {
    display: flex;
    text-decoration: none;
    margin-top: 1rem;
    font-weight: 500;
    color: #000000;
  }
  .Header__nav--p2 {
    color: #ed4545;
  }
  .Header__nav--p3 {
    margin: 0 0.4rem;
    margin-bottom: 1.2rem;
    margin-top: 0.2rem;
  }
  .Header__secend--1 {
    width: 100%;
    padding-top: 3.6rem;
    text-align: center;
    font-weight: 900;
    font-size: 4rem;
    color: #ffffff;
    position: relative;
    display: inline-block;
    padding-bottom: 20px;
  }
  .Header__secend--2 {
    position: relative;
    color: #ed4545;
  }
  .Header__secend--2::after {
    content: "";
    position: absolute;
    left: 8px;
    bottom: -12px;
    width: 100%;
    height: 20px;
    background: url("img/header__kind--d.svg") no-repeat center;
    background-size: 100% 100%;
  }
  .Header__secand--3 {
    font-weight: 400;
    margin-top: 1rem;
    font-size: 3rem;
    text-align: center;
    color: #ffffff;
    margin-bottom: 1rem;
  }

  .header__swiper
  .swiper-slide {
    p {
      margin-top: 0.3rem;
      font-size: 1.8rem;
    }
    img {
      margin-right: 13rem;
    }
  }
}
