@import url(/font.css);
:root {
	/* Put variables in here:) */
	--primary-color: #ed4545;
	--white-text: #ffffff;
	--black-text: #000000;
	--dark-text: #333333;
	--grey-text: #878787;
	--white-background: #ffffff;
	--grey-background: #efefef;
}
*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
 min-height: 100vh;
	line-height: 1.5;
	font-family: "Peyda";
	background-color: #fff;
	color: #5c5c5c;
	direction: rtl;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: inherit;
  font-style: inherit;
}
a {
	color: inherit;
	text-decoration: none;
	background-color: transparent;
	outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
